{% extends "base_form.html" %}

{% block content %}
<div class="container">
    <h2>بازیابی رمز عبور</h2>
    {% if validlink %}

    <form method="POST">
        {% csrf_token %}
        {% for field in form %}
        <div class="form-group">
            {{ field.errors }}
            <label>{{ field.label_tag }}</label>
            <p>{{ field }}</p>
        </div>
        {% endfor %}
        <button type="submit" class="btn btn-primary">ذخیره کردن</button>

    </form>

    {% else %}
    <p style="color:red">توکن منسوخ شده</p>
    <p>
    <a href="{% url 'password_reset' %}">درخواست بازیابی رمز  عبور مجدد</a>
    </p>
    {% endif %}
    </div>
{% endblock %}