{% extends 'base_shop.html' %}


{% block slider %}

<div class="">
  <h3>{{ product.name }}</h3>
  <hr>
</div>

{% endblock slider %}


{% block content %}

<div class="row" style="margin-top: 10px; margin-bottom: 10px;">

 {% for item in image %}
  <div class="col-sm-3 col-md-3">
    
    <div class="thumbnail"> 
           <img src="{{ item.image.url }}" alt="...">
    </div>
  </div>
  {% endfor %} 

</div>

<div class="row" style="margin-top: 10px; margin-bottom: 10px;">
  
  <div class="col-sm-12 col-md-12">
    
    <div class="thumbnail"> 
           <p> {{ product.description }} </p>
           <br>
           <a class="badge bg-secondary text-decoration-none link-light" href="{% url 'category-product' slug=product.category.slug %}">{{ product.category }}</a>
    <hr>
           <ul class="list-group list-group-flush">
            <li class="list-group-item"><p class="card-text"><small class="text-muted">تعداد :<b>{{product.quantity}}</small></p></li>
            <li class="list-group-item"><p class="card-text"><small class="text-muted">اسم فروشگاه :<b>{{product.shop}}</small></p></li>

          </ul>

          <div class="card-footer text-muted text-center">
            قیمت :{{ product.price }}
          </div>
    </div>
  </div>
  

</div>

{% endblock content %}



{% block sidebar %}



<div class="list-group">


  <a href="{% url 'edit_profile' %}" class="list-group-item">
      <h4 class="list-group-item-heading">ویرایش پروفایل</h4>
      <p class="list-group-item-text">شما میتوانید اسم کاربری و رمز عبور و ... خود را تغییر دهید</p>
  </a>

{% if have_shop_pending == False %}
  <a href="{% url 'new_post' %}" class="list-group-item">
      <h4 class="list-group-item-heading">ایجاد فروشگاه جدید</h4>
      <p class="list-group-item-text">
          ازین قسمت میتوانیدفروشگاه جدیدی را ایجاد کنید
      </p>
  </a>
{% endif %}

  <a href="{% url 'add-cat-tag' %}" class="list-group-item">
      <h4 class="list-group-item-heading">ایجاد دسته بندی و تگ</h4>
      <p class="list-group-item-text">شما میتوانید یک دسته بندی جدید یا تگی را ایجاد کنید</p>
  </a>
</div>



{% endblock sidebar %}


