{% extends "base_weblog.html" %}
{% block title %}
Posts
{% endblock title %}

{% block header %}از صرافتش که بیوفتی پیش میاد !
<hr>
{% endblock header %}

{% block slider %}

<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
      <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
      <li data-target="#carousel-example-generic" data-slide-to="1"></li>
      <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
      <div class="item active">
          <a href={{ postslider1.get_absolute_url }}><img src="{{MEDIA_URL}}{{ postslider1.pic }}" width="100%" alt="..."></a>
          <div class="carousel-caption">

          </div>
      </div>
      <div class="item">
          <a href={{ postslider2.get_absolute_url }}><img src="{{MEDIA_URL}}{{ postslider2.pic }}" width="100%" alt="..."></a>
          <div class="carousel-caption">


          </div>
      </div>
      <div class="item">
          <a href={{ postslider3.get_absolute_url }}><img src="{{MEDIA_URL}}{{ postslider3.pic }}" width="100%" alt="..."></a>
          <div class="carousel-caption">

          </div>
      </div>
  </div>


</div>

{% endblock slider %}


{% block content %}
<div class="row" style="margin-top: 10px; margin-bottom: 10px;">
{% for post in post_list %}

  
  <div class="col-sm-6 col-md-6">
    <div class="thumbnail">
        <img src="{{MEDIA_URL}}{{ post.pic }}" alt="...">
        <div class="caption">
            <h3>{{post.title}}</h3>
            <p>{{ post.bodytext|truncatewords:20 }}</p>
            <p><a href={{ post.get_absolute_url }} class="btn btn-default" role="button">ادامه مطلب</a></p>
        </div>
    </div>
  </div>
  {% if forloop.counter|divisibleby:2 %}
  </div>
  <div class="row" style="margin-top: 10px; margin-bottom: 10px;">
  {% endif %}


{% endfor %}
</div>


{% endblock content %}



{% block sidebar %}

  <div class="list-group">
    <a href="#" class="list-group-item active">
      دسته بندی ها
    </a>
    {% for cat in category %}
      <a href="{{cat.get_absolute_url}}" class="list-group-item">
        <span class="badge">{{ cat.count_post }}</span> {{cat.name}}
      </a>
    {% endfor %}
  </div>


{% endblock sidebar %}


