{% extends "base_weblog.html" %}
{% block title %}
Dashboard
{% endblock title %}

{% block header %} عزیز خوش آمدید ! {{ user.username }}
<hr>
{% endblock header %}

{% block slider %}
{% if posts_published %}
<div class="">
  <h3>پست های شما :</h3>
  <hr>
</div>
{% else %}
<div class="">
  <h3>شما تا کنون پستی ایجاد نکرده اید !</h3>
  <hr>
</div>
{% endif %}

{% endblock slider %}


{% block content %}
<div class="row" style="margin-top: 10px; margin-bottom: 10px;">
{% if posts_published %}
{% for post in posts_published %}

  
  <div class="col-sm-6 col-md-6">
    <div class="thumbnail">
        <img src="{{MEDIA_URL}}{{ post.pic }}" alt="...">
        <div class="caption">
            <h3 style="color: #428bca;">{{post.title}}</h3>
            <p>{{ post.bodytext|truncatewords:30 }}</p>
            <ul class="list-group list-group-flush">
              <li class="list-group-item"><p class="card-text"><small class="text-muted">نوشته شده توسط :<b>{{post.posted_by}}</small></p></li>
            </ul>
            <p><a href={{ post.get_absolute_url }}>ادامه مطلب</a></p>
        </div>
        <div class="card-footer text-muted text-center">
          {{post.post_date}}
        </div>
    </div>
  </div>
  {% if forloop.counter|divisibleby:2 %}
  </div>
  <div class="row" style="margin-top: 10px; margin-bottom: 10px;">
  {% endif %}


{% endfor %}
{% if posts_published.has_other_pages %}
  <ul class="pagination">
    {% if posts_published.has_previous %}
      <li><a href="?page={{ posts_published.previous_page_number }}">&laquo;</a></li>
    {% else %}
      <li class="disabled"><span>&laquo;</span></li>
    {% endif %}
    {% for i in posts_published.paginator.page_range %}
      {% if posts_published.number == i %}
        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
        <li><a href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if posts_published.has_next %}
      <li><a href="?page={{ posts_published.next_page_number }}">&raquo;</a></li>
    {% else %}
      <li class="disabled"><span>&raquo;</span></li>
    {% endif %}
  </ul>
{% endif %}
{% else %}
<hr>
<button type="button" class="btn  btn-sm btn-success"><a href="{% url 'new_post' %}" style="color:black ; text-decoration: none;" !important>ایجاد پست جدید</a></button>
{% endif %}
</div>





{% endblock content %}



{% block sidebar %}
{% if posts_draft %}
<div class="list-group">
  <a href="#" class="list-group-item active">
    آرشیو
  </a>
  {% for post in posts_draft %}
  <a href={{ post.get_absolute_url }} class="list-group-item">
    <h4 class="list-group-item-heading">{{post.title}}</h4>
    <p class="list-group-item-text">
      {{ post.bodytext|truncatewords:5 }}
    </p>
</a>
</div>
  {% endfor %}
{% endif %}



<div class="list-group">
  <a href="{% url 'edit_profile' %}" class="list-group-item">
      <h4 class="list-group-item-heading">ویرایش پروفایل</h4>
      <p class="list-group-item-text">شما میتوانید اسم کاربری و رمز عبور و ... خود را تغییر دهید</p>
  </a>


  <a href="{% url 'new_post' %}" class="list-group-item">
      <h4 class="list-group-item-heading">ایجاد پست جدید</h4>
      <p class="list-group-item-text">
          ازین قسمت میتوانید پست جدیدی را ایجاد کنید
      </p>
  </a>

  <a href="{% url 'add-cat-tag' %}" class="list-group-item">
      <h4 class="list-group-item-heading">ایجاد دسته بندی و تگ</h4>
      <p class="list-group-item-text">شما میتوانید یک دسته بندی جدید یا تگی را ایجاد کنید</p>
  </a>
</div>

  <div class="list-group">
    <a href="#" class="list-group-item active">
      دسته بندی ها
    </a>
    {% for cat in category %}
      <a href="{{cat.get_absolute_url}}" class="list-group-item">
        <span class="badge">{{ cat.count_post }}</span> {{cat.name}}
      </a>
    {% endfor %}
  </div>

  <div class="list-group">
    <a href="#" class="list-group-item active">
      تگ ها
    </a>
    {% for item in tag %}
      <a href="{% url 'post-tag' item.id %}" class="list-group-item">
        <span class="badge">{{ item.count_post }}</span> {{item.name}}
      </a>
    {% endfor %}
  </div>


{% endblock sidebar %}


